* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background: #3498db;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main {
    width: 400px;

    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  .generatePass {
    position: relative;
  }
  .generatePass input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 22px;
    padding: 4px 8px;
  }
  
  .generatePass i {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 22px;
    cursor: pointer;
  }
  
  .selectItems {
    margin: 20px 0px;
  }
  
  .select {
    display: inline-block;
    justify-content: space-between;
    padding: 5px 3px;
  }
  
  .select label {
    font-size: 20px;
  }
  
  .select input[type="number"] {
    width: 70px;
    padding: 4px 8px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .select input[type ="checkbox"]{
    width: 18px;
    cursor: pointer;
  }
  
  .generateBtn{
    width: 100%;
    background: pink;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
  }